module.exports =
  # URL-friendly ASCII unique identifier for the application
  appId: 
  # User-friendly name of the application
  title: 
  # Short description for search engines (~155 characters)
  description: 
  # Domain name where the application is hosted
  domain: 
  # Internal port on which the application should listen
  internalPort: 
  # Public-facing port on which the application will be accessible (generally 80 in production)
  publicPort: 
  # Index of the Redis database used for storing session data
  redisDbIndex: 
  # ~30 random characters for encrypting session data
  sessionSecret: 

  # URL of the NuclearHub app used by this application for authenticating users
  hubBaseURL: 
  # Secret string generated for the app by the NuclearHub
  hubAppSecret: 

  # Channel configuration
  channels:
    # URL prefix for channels
    prefix: "play"
    # Services which can be used to create username-based channels
    # null allows creating channels without any authentication service
    services: [ null, 'steam', 'twitch', 'twitter', 'facebook', 'google' ]

  # Any global public data that you'd like to expose to your application's JS as window.app.public
  public:
    adwords:
      client: 
      slot300x250: 

