_ = require 'lodash'
config = require './baseConfig'

_.merge config, 
  # URL-friendly ASCII unique identifier for the application
  appId: ''

  # User-friendly name of the application and short description for search engines (~155 characters)
  title: ""
  description: ""

  # Domain name and ports (internal and public-facing) where the application is hosted
  domain: ''
  internalPort: 
  publicPort: 

  # Index of the Redis database and secret key for storing session data
  redisDbIndex: 
  sessionSecret: ''

  # URL of the NuclearHub and app secret used for authentication
  hubBaseURL: ''
  hubAppSecret: ''

  # Global *public* data, will be exposed to the client as window.app.public
  public: {}

module.exports = config