extends layout

block extrahead
  link(rel='stylesheet',href=assetFingerprint('/css/style.css'))
  
  // script(src='/socket.io/socket.io.js')
  script(src=assetFingerprint('/js/app.js'))

block content
  h1 NuclearNode

  p= i18n.t('helloWorld')
