extends layout

block extrahead
  link(rel='stylesheet',href=assetFingerprint('/css/style.css'))
  
  script(src='/socket.io/socket.io.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src=assetFingerprint('/js/templates.js'))
  script(src=assetFingerprint('/js/app.js'))

block content
  h1 NuclearNode
