extends layout

block extrahead
  link(rel='stylesheet',href=assetFingerprint('/css/style.css'))
  
  // script(src='/socket.io/socket.io.js')
  script(src=assetFingerprint('/js/app.js'))

block content
  h1 NuclearNode

  form(method='get',action='')
    select(name='setLng',onchange='this.form.submit()')
      option(value='')= i18n.t('chooseLanguage')
      option(value='en') English
      option(value='fr') Français

  p= i18n.t('helloWorld')
