extends layout

block extrahead
  !=assets.tag('/stylesheets/style.css')
  
  script(src='/socket.io/socket.io.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  !=assets.tag('/javascripts/templates.js')
  !=assets.tag('/javascripts/app.js')

block content
  h1 NuclearNode
