doctype html
html
  head
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700,900',rel='stylesheet',type='text/css')
    link(rel='stylesheet',href=assetFingerprint('/css/common.css'))
    script!= javascript
    script(src=assetFingerprint('/js/templates.js'))
    script(src='/i18next/i18next.js')
    block extrahead
  body
    block content