doctype html
html
  head
    title= title
    script!= javascript
    script(src=assetFingerprint('/js/templates.js'))
    script(src='/i18next/i18next.js')
    block extrahead
  body
    block content