doctype html
html
  head
    title NuclearNode
    script!=javascript
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src=assetFingerprint('/js/templates.js'))
    script(src='/i18next/i18next.js')
    block extrahead
  body
    block content