{
  chooseLanguage: "(Choisissez une langue)"

  liveChannels: 'Salons actifs'
  channelOnService: 'sur'

  createChannel:
    title: "Créer un salon"
    namePlaceholder: "Choisissez un nom"
    nameValidChars: "Lettres, chiffres, tiret ou tiret bas"

  login: "Connexion"
  logout: "Déconnexion"
  selectLoginService: "Sélectionner un service pour vous connecter"
  serviceDoesntMatter:
    """Peu importe lequel, c'est juste  
    pour vous éviter un mot de passe de plus"""
  logInWith: "Connexion avec %{service}"

  loginServices:
    steam: "Steam"
    twitch: "Twitch"
    twitter: "Twitter"
    facebook: "Facebook"
    google: "Google+"

  privacyRespect:
    """On ne postera rien sur votre mur et on promet  
    de ne pas passer votre chat au micro-onde"""

  sidebarTabs:
    chat: "Chat"
    settings: "Options"
    leaderboard: "Classement"

  chat:
    typeHereToChat: "Tapez ici pour discuter"
    logInToChat: "Ce salon ne permet pas aux visiteurs de discuter. Veuillez vous connecter d'abord."

    userJoined: "%{user} a rejoint."
    userLeft: "%{user} est parti."
    userRoleSet: "%{user} est maintenant %{role}."
    disconnected: "Oups, vous avez été déconnecté. Veuillez recharger la page."
    undelivered: "Pas si vite ! Votre message n'a pas pu être envoyé."
    noGuestsAllowed: "Ce salon n'accepte pas les visiteurs. Veuillez vous connecter pour rejoindre."

    userBanned: "%{user} a été banni."
    userUnbanned: "%{user} a été débanni."
    banned: "Vous avez été banni de ce salon. Soyez respectueux et choisissez un autre salon."
    ban: "Bannir"
    unban: "Débannir"

  userHandleOnService: "%{handle} sur %{service}"
  serviceHandlePlaceholder: "Connecté"

  userRoles:
    hubAdministrator: 'Super administrateur'
    host: 'Hôte'
    administrator: 'Administrateur'
    moderator: 'Modérateur'

  settings:
    rules:
      title: "Règles du jeu"

    room:
      title: "Salon"
      welcomeMessage: "Message d'accueil"
      guestAccess:
        label: "Accès visiteurs"
        full: "Jouer & chat"
        noChat: "Jouer uniquement"
        deny: "Interdit"
      bannedUsers:
        label: "Personnes bannies"
        none: "(Aucune)"
        
    livestream:
      title: "Livestream"
      service: "Service"
      channel: "Chaîne"

      services:
        none: "(Pas de stream)"

  settingsUpdate:
    room:
      welcomeMessage: """Le message d'accueil a été mis à jour : "%{welcomeMessage}"."""
      guestAccess: "Les conditions d'accès des visiteurs ont été mises à jour : %{guestAccess}."
}
