{
  chooseLanguage: "(Choisissez une langue)"

  liveChannels: 'Salons actifs'
  channelUsers: '(%{users} personnes)'
  startYourOwnChannel: 'Créer votre propre salon'

  login: "Connexion"
  logout: "Déconnexion"
  selectLoginService: "Sélectionner un service pour vous connecter"
  serviceDoesntMatter:
    """Peu importe lequel, c'est juste  
    pour vous éviter un mot de passe de plus"""
  logInWith: "Connexion avec %{service}"
  privacyRespect:
    """On ne postera rien sur votre mur et on promet  
    de ne pas passer votre chat au micro-onde"""

  sidebarTabs:
    chat: "Chat"
    log: "Journal"
    leaderboard: "Classement"

  chat:
    typeHereToChat: "Tapez ici pour discuter"
    userJoined: "%{user} a rejoint."
    userLeft: "%{user} est parti."
}