doctype html
html
  head
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700,900',rel='stylesheet',type='text/css')
    link(rel='stylesheet',href=assetFingerprint('/css/nuclearnode/common.css'))
    script!= javascript
    script(src=assetFingerprint('/js/templates.js'))
    script(src='/i18next/i18next.js')
    script(src='/socket.io/socket.io.js')
    script(src=assetFingerprint('/js/nuclearnode/common.js'))

    block head

  body
    include partials/appsBar

    #App.Fade
      include partials/appHeader

      main
        block content

    include partials/overlay
    block body
