#Overlay
  #LogInDialog
    h3=i18n.t('nuclearnode:selectLoginService')

    !=i18n.md('nuclearnode:serviceDoesntMatter')

    ul#LogInOptions
      for service in loginServices
        li
          a(href=config.hubBaseURL + '/auth/' + service + '?redirect=/apps/' + config.appId + path)
            img(src="/images/nuclearnode/loginIcons/" + service + ".png",alt=i18n.t('nuclearnode:loginServices.' + service),title=i18n.t('nuclearnode:logInWith', { service: i18n.t('nuclearnode:loginServices.' + service) }))

    !=i18n.md('nuclearnode:privacyRespect')
