#Overlay
  #LogInDialog
    h3=i18n.t('nuclearnode:selectLoginService')

    !=i18n.md('nuclearnode:serviceDoesntMatter')

    ul#LogInOptions
      each serviceName, serviceId in loginServicesById
        li
          a(href=config.hubBaseURL + '/auth/' + serviceId + '?redirect=/apps/' + config.appId + path)
            img(src="/images/nuclearnode/loginIcons/" + serviceId + ".png",alt=serviceName,title=i18n.t('nuclearnode:logInWith', { service: serviceName }))

    !=i18n.md('nuclearnode:privacyRespect')
