- var serviceHandles = []
for handle, service in user.serviceHandles
  if handle == null
    - handle = i18n.t('nuclearnode:serviceHandlePlaceholder')
  if service != 'guest'
    - serviceHandles.push( i18n.t('nuclearnode:userHandleOnService', { handle: handle, service: i18n.t('nuclearnode:loginServices.' + service) }) )
span.User(title=serviceHandles.join(', '))
  if user.role != ''
    span(class="UserRole_" + user.role,title=i18n.t('nuclearnode:userRoles.' + user.role))
    |  
  = user.displayName
  if ['host', 'hubAdministrator', 'moderator'].indexOf(app.user.role) != -1
    .Actions
      button.BanUser(data-auth-id=user.authId,data-display-name=user.displayName)= i18n.t('nuclearnode:chat.ban')
      if app.user.role == 'host' || app.user.role == 'hubAdministrator'
        button.ModUser(data-auth-id=user.authId,data-display-name=user.displayName)= i18n.t('nuclearnode:chat.mod')