{
  chooseLanguage: "(Choose a language)"

  liveChannels: 'Live channels'
  channelUsers: '(%{users} connected)'
  startYourOwnChannel: 'Start your own channel'
  channelOnService: 'on'
  host: 'Host'

  login: "Log in"
  logout: "Log out"
  selectLoginService: "Select service to log in with"
  serviceDoesntMatter:
    """It doesn't really matter which one, it's just  
    to save you from remembering yet another password"""
  logInWith: "Log in with %{service}"
  privacyRespect:
    """We won't tweet, post to your wall  
    or microwave your cat"""

  sidebarTabs:
    chat: "Chat"
    log: "Log"
    leaderboard: "Leaderboard"

  chat:
    typeHereToChat: "Type here to chat"
    userJoined: "%{user} has joined."
    userLeft: "%{user} has left."
    disconnected: "Woops, you got disconnected. Please reload the page."

    info:
      undelivered: "Not so fast! Your chat message couldn't be delivered."
}
