{
  chooseLanguage: "(Choose a language)"

  liveChannels: 'Live rooms'
  channelOnService: 'on'

  createChannel:
    title: "Create a room"
    namePlaceholder: "Choose a name"
    nameValidChars: "Letters, digits, dash or underscore"

  login: "Log in"
  logout: "Log out"
  selectLoginService: "Select service to log in with"
  serviceDoesntMatter:
    """It doesn't really matter which one, it's just  
    to save you from remembering yet another password"""
  logInWith: "Log in with %{service}"

  loginServices:
    steam: "Steam"
    twitch: "Twitch"
    twitter: "Twitter"
    facebook: "Facebook"
    google: "Google+"

  privacyRespect:
    """We won't tweet, post to your wall  
    or microwave your cat"""

  sidebarTabs:
    chat: "Chat"
    settings: "Settings"
    leaderboard: "Leaderboard"

  chat:
    typeHereToChat: "Type here to chat"
    userJoined: "%{user} has joined."
    userLeft: "%{user} has left."
    userRoleSet: "%{user} is now %{role}."
    disconnected: "Woops, you got disconnected. Please reload the page."
    undelivered: "Not so fast! Your chat message couldn't be delivered."

  userHandleOnService: "%{handle} on %{service}"
  serviceHandlePlaceholder: "Logged in"

  userRoles:
    hubAdministrator: 'Super administrator'
    host: 'Host'
    administrator: 'Administrator'
    moderator: 'Moderator'

  settings:
    rules: "Game rules"
    room: "Room"
}
