html, body
  width 100%
  height 100%

body
  display flex
  flex-direction row
  background #202020

#App
  flex 1
  display flex
  flex-direction column
  transition opacity 0.5s ease-out

  &.Fade
    opacity 0

  > header
    z-index 0
    font-size 16px
    background linear-gradient(to bottom, rgba(128,128,128,0.3) 0%, rgba(128,128,128,0.2) 100%)
    box-shadow 0 0 2em rgba(0,0,0,0.1)
    line-height 1

    display flex
    align-items center
    color #c0c0c0

    .AppInfo
      flex 1
      font-weight 100
      padding 0 0.5em
      display inline-block

      .AppTitle
        font inherit
        color inherit
        text-decoration none

      .ChannelName
        color #fff
        font-weight 300

      .ChannelUsers
        display inline-block
        font-size 0.8em
        font-weight bold
        background rgba(255,255,255,0.3)
        color #404040
        border-radius 1em
        padding 0.125em 0.5em
        margin-left 0.5em

        &:empty
          background none

    .PlayerInfo
      padding 0 0.5em

      .PlayerName
        color #fff

      #LogInButton, #LogOutLink
        font inherit
        font-size smaller
        background none
        margin 0
        padding 0
        border 0
        color inherit
        line-height 1.25
        text-decoration none

  > main
    flex 1
    border-top 1px solid rgba(255,255,255,0.15)
    border-left 1px solid rgba(255,255,255,0.1)
    border-right 1px solid rgba(255,255,255,0.1)

#ToggleMenuButton
  background none
  border none
  padding 0.5em
  outline none

  width 30px
  height 30px

  background url(/images/nuclearnode/ToggleMenuButton.png) center center no-repeat

  &:hover
    background url(/images/nuclearnode/HoveredToggleMenuButton.png) center center no-repeat

  &:active
    background url(/images/nuclearnode/HoveredToggleMenuButton.png) center center no-repeat, rgba(255,255,255,0.1)


#AppsBar
  width 60px
  display flex
  flex-direction column
  background #202020
  box-shadow 0 0 1em rgba(0,0,0,0.3) inset
  line-height 1

  transition width 0.2s ease-out
  overflow hidden

  &:hover
    width 260px

    .AppDetails
      opacity 1

  &.Hidden
    width 0

  > a
    display flex
    flex-direction row
    align-items center
    height 50px
    background none
    border none
    outline none
    opacity 0.6
    text-decoration none
    color #fff

    .AppIcon
      flex 0 0 60px
      width 60px
      height 50px
      display flex
      align-items center
      justify-content center

    .AppDetails
      flex 1 0 0
      margin-right 0.5em
      opacity 0
      transition opacity 0.1s linear

      display flex
      flex-direction column
      line-height 1.25

      .AppName
        flex 1
        font-weight bold
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

      .AppDescription
        font-size 0.8em
        opacity 0.6
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

    .AppUsers
      font-size 0.8em
      font-weight bold
      background rgba(255,255,255,0.5)
      color #000
      border-radius 1em
      padding 0.125em 0.5em
      margin-right 0.5em

      &:empty
        background none

    &.Active
      background url(/images/nuclearnode/ButtonHoverHighlight.png) bottom left no-repeat, linear-gradient(to bottom, rgba(255,255,255,0.025) 50%, rgba(255,255,255,0.1) 100%)
      opacity 1

    &.Active:hover
      background url(/images/nuclearnode/ButtonHoverHighlight.png) bottom left no-repeat, linear-gradient(to bottom, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.2) 100%)
      opacity 1
    &:hover
      background linear-gradient(to bottom, rgba(255,255,255,0.025) 50%, rgba(255,255,255,0.1) 100%)
      opacity 1
    &:active
      background linear-gradient(to bottom, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0.125) 100%)
      opacity 1

.AdBox
  font-size 0
  line-height 0