@import 'nib'
@import 'app'
@import 'overlay'

#Sidebar
  display flex
  flex-direction column
  width 300px

  background #202020
  box-shadow 0 0 1em rgba(0,0,0,0.3) inset
  color #ccc

  text-align center

  .NuclearSupportBox
    display none
    background #000

    &.Show
      display block
      position relative
      width 300px
      height 275px

    .BoxPlz
      position absolute
      text-align center
      padding 2em 1em
      top 0
      left 0
      right 0
      bottom 0
      font-size 24px
      line-height 1.5
      opacity 0.5

    .BoxContent
      position absolute
      top 0
      left 0
      font-size 0
      line-height 0
    
    .BoxClose
      background #111
      position absolute
      top 250px
      left 0
      right 0
      height 25px
      font-size 12px
      line-height 1
      text-transform uppercase
      padding 0.5em
      text-align center

      button
        border none
        background none
        color #fff
        opacity 0.5
        text-transform uppercase

        &:hover
          opacity 0.8

        &:active
          opacity 1
          outline none

#SidebarTabButtons
  display flex
  flex-direction row
  align-items stretch

  button
    flex 1 1 auto
    background #404040
    border 0
    color #a0a0a0
    padding 0.5em
    line-height 1
    outline none

    &:hover
      color #fff
      background url(/images/nuclearnode/ButtonHoverHighlight.png) bottom center no-repeat, #404040

    &:active
      background url(/images/nuclearnode/ButtonHoverHighlight.png) bottom center no-repeat, #4a4a4a
      
    &.Active
      background url(/images/nuclearnode/ActiveTabButton.png) center bottom no-repeat, #404040
      color #d0d0d0

    &.Active:hover
      background url(/images/nuclearnode/ActiveTabButton.png) center bottom no-repeat, url(/images/nuclearnode/ButtonHoverHighlight.png) bottom center no-repeat, #404040
      

#SidebarTabs
  flex 1
  display flex
  flex-direction column

  > div
    flex 1
    flex-direction column

    &:not(.Active)
      display none

  a
    color #eee
    text-decoration none

    &:hover
      text-decoration underline

#ChatTab
  display flex

#ChatLogPanel, #ChatInputPanel
  display flex
  flex-direction column
  // padding 0 1em

#ChatLogPanel
  flex 1
  text-align left

#ChatInputPanel
  height 50px

#ChatLog
  flex 1
  line-height 1.25
  font-size 16px

  overflow-y auto

  *
    user-select text
    cursor auto

  padding 0.25em
  list-style none

  li
    padding 0.2em
    border-radius 0.2em
    word-wrap break-word

    &:hover
      background rgba(255,255,255,0.05)

    .Time
      font-size 75%
      margin-right 0.5em
      opacity 0.5

    .User
      font-weight bold

      .UserRole_hubAdministrator:before
        content '[★]'
        cursor default
        color #c63

      .UserRole_host:before
        content '★'
        cursor default
        color #dc8

      .UserRole_administrator:before
        content '☆'
        cursor default
        color #dc8

      .UserRole_moderator:before
        content '●'
        cursor default
        color #346192

    .BanUser
      display none

    &:hover
      .BanUser
        display initial


    &.Info
      color #8aa

#ChatInputBox
  flex 1
  line-height 1.25
  font-size 14px
  background rgba(0,0,0,0.4)
  border 0
  margin 0
  padding 0.5em
  color #aaa
  outline none
  resize none

  placeholder(color #555,)

#SettingsTab
  text-align left

  h2
    padding 0.5em 0.5em 0 0.5em
    opacity 0.5

  table
    width 100%
    padding 0.5em

    tr
      td:nth-child(1)
        width 40%

      td:nth-child(2)
        width 60%

    input, button:not(.UnbanUser), select, textarea
      width 100%
      background #444
      border none
      padding 0.25em
      color #fff
      font inherit

    textarea
      resize vertical
      min-height 3em

    ul
      list-style none

#ChatLog .BanUser, #SettingsTab .UnbanUser
  border none
  background none
  cursor pointer
  color #a00
  margin-left 0.25em
  outline none
  font-weight normal
  font-size smaller
  opacity 0.8

  &:hover
    opacity 1

  &:active
    background rgba(255,0,0,0.2)
