@import 'nib'
@import 'app'
@import 'overlay'

#Sidebar
  display flex
  flex-direction column
  width 300px

  background #202020
  box-shadow 0 0 1em rgba(0,0,0,0.3) inset
  color #ccc

  text-align center

#SidebarTabButtons
  display flex
  flex-direction row
  align-items stretch

  button
    flex 1 1 auto
    background #404040
    border 0
    color #a0a0a0
    padding 0.5em
    line-height 1
    outline none

    &:hover
      color #fff
      background url(/images/nuclearnode/ButtonHoverHighlight.png) bottom center no-repeat, #404040

    &:active
      background url(/images/nuclearnode/ButtonHoverHighlight.png) bottom center no-repeat, #4a4a4a
      
    &.Active
      background url(/images/nuclearnode/ActiveTabButton.png) center bottom no-repeat, #404040
      color #d0d0d0

    &.Active:hover
      background url(/images/nuclearnode/ActiveTabButton.png) center bottom no-repeat, url(/images/nuclearnode/ButtonHoverHighlight.png) bottom center no-repeat, #404040
      

#SidebarTabs
  flex 1
  display flex
  flex-direction column

  > div
    flex 1
    flex-direction column

    &:not(.Active)
      display none

  a
    color #eee
    text-decoration none

    &:hover
      text-decoration underline

#ChatTab
  display flex

#ChatLogPanel, #ChatInputPanel
  display flex
  flex-direction column
  // padding 0 1em

#ChatLogPanel
  flex 1
  text-align left

#ChatInputPanel
  height 50px

#ChatLog
  flex 1
  line-height 1.25
  font-size 16px

  overflow-y auto

  *
    user-select text
    cursor auto

  padding 0.25em
  list-style none

  li
    padding 0.2em
    border-radius 0.2em
    word-wrap break-word

    &:hover
      background rgba(255,255,255,0.05)

    .Time
      font-size 75%
      margin-right 0.5em
      opacity 0.5

    .User
      font-weight bold

      .UserRole_hubAdministrator:before
        content '[★]'
        cursor default
        color #c63

      .UserRole_host:before
        content '★'
        cursor default
        color #dc8

      .UserRole_administrator:before
        content '☆'
        cursor default
        color #dc8

      .UserRole_moderator:before
        content '●'
        cursor default
        color #346192


    &.Info
      color #8aa

#ChatInputBox
  flex 1
  line-height 1.25
  font-size 14px
  background rgba(0,0,0,0.4)
  border 0
  margin 0
  padding 0.5em
  color #aaa
  outline none
  resize none

  placeholder(color #555,)

#SettingsTab
  text-align left

  h2
    padding 0.5em 0.5em 0 0.5em
    opacity 0.5

  table
    width 100%
    padding 0.5em

    tr
      td:nth-child(1)
        width 40%

      td:nth-child(2)
        width 60%

    input, button, select, textarea
      width 100%
      background #444
      border none
      padding 0.25em
      color #fff
      font inherit

    textarea
      resize vertical
      min-height 3em

    ul
      list-style none